doctype html
html(lang="en", ng-app="HoneydooApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    title Honeydoo List

    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css", type="text/css")

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css", type="text/css")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Clicker+Script", type="text/css")

    link(rel="stylesheet", href="assets/css/styles.css")

  body
    nav-directive
    div(ui-view)

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js", type="text/javascript")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js", type="text/javascript")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js", type="text/javascript")
    script(src="https://cdn.firebase.com/js/client/2.2.4/firebase.js", type="text/javascript")
    script(src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js", type="text/javascript")

    script(src="app/app.js", type="text/javascript")

    script(src="app/shared/nav/navModule.js", type="text/javascript")
    script(src="app/shared/nav/navController.js", type="text/javascript")
    script(src="app/shared/nav/navDirective.js", type="text/javascript")

    script(src="app/components/auth/authModule.js", type="text/javascript")
    script(src="app/components/auth/authController.js", type="text/javascript")
    script(src="app/components/auth/authService.js", type="text/javascript")
    script(src="app/components/auth/authDirective.js", type="text/javascript")

    script(src="app/components/core/coreModule.js", type="text/javascript")
    script(src="app/components/core/constants.js", type="text/javascript")
    script(src="app/components/core/coreService.js", type="text/javascript")

    script(src="app/components/home/homeModule.js", type="text/javascript")
    script(src="app/components/home/homeController.js", type="text/javascript")
    script(src="app/components/home/homeService.js", type="text/javascript")

    script(src="app/shared/sidenav/sidenavModule.js", type="text/javascript")
    script(src="app/shared/sidenav/sidenavController.js", type="text/javascript")
    script(src="app/shared/sidenav/sidenavDirective.js", type="text/javascript")
    script(src="app/shared/sidenav/sidenavService.js", type="text/javascript")

    script(src="app/shared/content/contentModule.js", type="text/javascript")
    script(src="app/shared/content/contentDirective.js", type="text/javascript")

    script(src="app/components/connect/connectModule.js", type="text/javascript")
    script(src="app/components/connect/connectController.js", type="text/javascript")
    //script(src="app/components/connect/connectDirective.js", type="text/javascript")






