div.landing-container
  header
    div.row
      div.col-md-12
        div.intro-text
          h1 Organize your relationship
          h4 Earn rewards in the process
  section
    div.row
      div.col-sm-12.intro-footer-container
        div.intro-footer
          h5 Sign up and get started for free!
          button.btn.btn-default.btn-lg(type="button", ng-click="showRegister()") Get Started
  section.about-honeydoo-container
    div.row
      div.col-md-6.col-md-offset-3
        h1 Why use
          strong &nbsp;Honeydoo?
        p Honeydoo is the powerful to-do list app and task manager. With more than 70 million tasks completed and counting, Honeydoo is one of the most popular, powerful, and award-winning to-do list apps ever!
    div.row
      div.col-xs-10.col-xs-offset-1.about-card-panel-container
        div.row
          div.col-sm-4
            div.panel.panel-default.about-card-panel
              div.panel-heading
                div.about-img-container
                  img(src="assets/img/couple-fighting.jpg")
                  h5 Cool Story Bro
              div.panel-body
                p This is a story about your cool story bro! It's like cool story bro inception. Cool Story, huh?
          div.col-sm-4
            div.panel.panel-default.about-card-panel
              div.panel-heading
                div.about-img-container
                  img(src="assets/img/happy-couple.jpg")
                  h5 Cool Story Bro
              div.panel-body
                p This is a story about your cool story bro! It's like cool story bro inception. Cool Story, huh?
          div.col-sm-4
            div.panel.panel-default.about-card-panel
              div.panel-heading
                div.about-img-container
                  img(src="assets/img/man-couple-people-woman.jpg")
                  h5 Cool Story Bro
              div.panel-body
                p This is a story about your cool story bro! It's like cool story bro inception. Cool Story, huh?
  section.features-honeydoo-container
    div.row
      div.col-md-8.col-md-offset-2
        div.features-honeydoo
          h2 Honeydoo at a Glance
          div.row
            div.col-sm-4.text-center.feature
              div.icon-container
                i.mdi.mdi-share-variant.md-48
              div.row
                div.col-sm-8.col-sm-offset-2
                  div.feature-description
                    h5 Connect
                    p Reach out and connect with your better half
            div.col-sm-4.text-center.feature
              div.icon-container-even
                i.mdi.mdi-account-multiple.md-48
              div.row
                div.col-sm-8.col-sm-offset-2
                  div.feature-description
                    h5 Share Data
                    p Sync with and maintain todos with your honey
            div.col-sm-4.text-center.feature
              div.icon-container
                i.mdi.mdi-comment-text-outline.md-48
              div.row
                div.col-sm-8.col-sm-offset-2
                  div.feature-description
                    h5 Chat
                    p Two way chat just for the two of you
            div.col-sm-4.text-center.feature
              div.icon-container-even
                i.mdi.mdi-pencil-box-outline.md-48
              div.row
                div.col-sm-8.col-sm-offset-2
                  div.feature-description
                    h5 Add/Edit
                    p Add and edit items in either account list
            div.col-sm-4.text-center.feature
              div.icon-container
                i.mdi.mdi-sort.md-48
              div.row
                div.col-sm-8.col-sm-offset-2
                  div.feature-description
                    h5 Sort/Search
                    p Search and sort your list by a range of categories
            div.col-sm-4.text-center.feature
              div.icon-container-even
                i.mdi.mdi-view-dashboard.md-48
              div.row
                div.col-sm-8.col-sm-offset-2
                  div.feature-description
                    h5 Dashboard
                    p Get real time stats for you and your partner
  footer.honeydoo-footer
    div.footer-container
      span Copyright&nbsp;
      i.mdi.mdi-copyright
      span &nbsp;Honeydoo App 2016





