div.modal.fade.add-item-container
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true", ng-click="close()") &times;
        h5.modal-title.text-center {{honeydoo.title || "Add Honeydoo"}}
      div.modal-body
        form.form-horizontal(name="AddHoneydooForm")
          div.row
            div.col-md-6
              div.form-group
                div.col-md-12
                  label.control-label(for="itemTitle") Honeydoo Title
                div.col-md-12
                  input#itemTitle.form-control(type="text", ng-model="honeydoo.title", placeholder="Add a title...")
            div.col-md-6
              div.form-group
                div.col-md-12
                  label.control-label(for="honeydooDate") Due Date
                div.col-md-12
                  input#honeydooDate.form-control(placeholder="Select a date...", moment-picker="honeydoo.dateDue", format="lll", ng-model="honeydoo.dateDue", ng-model-options="{updateOn: 'blur'}")
          div.row
            div.col-md-6
              div.form-group
                div.col-md-12
                  label.control-label(for="status") Status
                div.col-md-12
                  ol#status.nya-bs-select.form-control(ng-model="honeydoo.status", title="What's the status?")
                    li(nya-bs-option="option in options")
                      a {{option}}
                        span.glyphicon.glyphicon-ok.check-mark
            div.col-md-6
              div.form-group
                div.col-md-12
                  label.control-label(for="owner") Owner
                div.col-md-12
                  ol#owner.nya-bs-select.form-control(ng-model="honeydoo.owner", title="Who's the owner?")
                    li(nya-bs-option="owner in owners")
                      a {{owner}}
                        span.glyphicon.glyphicon-ok.check-mark
            div.col-md-10.col-md-offset-1
              div.form-group
                label.control-label(for="note") Add Note
                textarea#note.form-control(rows="3", ng-model="honeydoo.note", placeholder="Add a note...")
      div.modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal", ng-click="close()") Cancel
        button.btn.btn-primary(type="button", ng-click="saveHoneydoo({honeydoo: honeydoo})") Submit