.profile-content {
  @extend .profile-sidebar;
  padding: 2px 30px 12px;
  overflow-y: scroll;
}

@include mobile {
  .profile-content {
    padding: 2px 10px 12px;
    overflow-y: visible;
    overflow-x: visible;
  }
}