.profile-sidebar {
  height: calc(100vh - 50px);
  padding-top: 15px;
  border-radius: 2px;
  background: #fff;

  .profile-userpic {

  }

  .profile-usertitle {
    margin-bottom: 25px;
  }

  .profile-userbutton {
    .btn-warning {
      border-radius: 0;
    }

    #notificationWell {
      .well {
        margin-bottom: 0;
      }

      .btn {
        margin: 0 4px;
        border-right: 1px solid;
        border-bottom: 1px solid;
      }

      .btn-primary {
        background: #fff;
        color: $blue1;
        border-color: $blue1;

        &:hover,
        &:active,
        &:focus {
          color: #fff;
          background: $blue1;
        }
      }

      .btn-danger {
        background: #fff;
        color: #e51c23;
        border-color: #e51c23;

        &:hover,
        &:active,
        &:focus {
          color: #fff;
          background: #e51c23;
        }
      }
    }
  }

  .profile-usermenu {
    margin-top: 30px;

    .panel,
    .list-group-item {
      box-shadow: none;
      border-radius: 0;
      border-right: none !important;
      border-left: none !important;
      height: 55px;
    }

    .small {
      transition: all .2s ease;

      &:before {
        transition: all .3s ease;
      }

      &:hover {
        background: lighten($blue1, 20%);
        color: #fff;

        &:before {
          border: solid;
          border-color: lighten($blue1, 20%) transparent;
          border-width: 0 12px 12px 12px;
          position: absolute;
          content: "";
          right: -18px;
          top: 40%;
          transform: rotate(90deg);
        }

        .fa {
          color: #fff;
        }
      }

      &:active,
      &:focus {
        background: lighten($blue1, 10%);
        color: #fff;

        &:before {
          border: solid;
          border-color: lighten($blue1, 10%) transparent;
          border-width: 0 12px 12px 12px;
          position: absolute;
          content: "";
          right: -18px;
          top: 40%;
          transform: rotate(90deg);
        }

        .fa {
          color: #fff;
        }
      }
    }

    .panel-icon {
      transition: transform 0.3s;
      -webkit-transition: transform 0.3s;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      padding: 3px;
    }

    .open-panel-icon {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }

    span,
    .fa-database,
    .fa-caret-right,
    .fa-male,
    .fa-female,
    .fa-plus-circle,
    .fa-link,
    .fa-comments-o,
    .fa-cog,
    .fa-user {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .fa {
      font-size: 20px;
      color: $green2;
      display: inline-block;
    }

    .fa-caret-right,
    .fa-angle-down, {
      color: #444;
    }

    .fa-angle-down {
      padding: 3px
    }

    .sub-icon {
      color: lighten($blue1, 10%);
    }

    .fa-male,
    .fa-female {
      margin-right: 3px;
    }

    .fa-caret-right {
      font-size: 16px;
      margin-left: 5px;
    }

    span {
      margin-left: 8px;
      font-size: 16px;
      display: inline-block;
    }

    .sub {
      font-size: 12px;
    }
  }
}

// Media Queries
@include mobile {
  .profile-sidebar-container {
    position: absolute;
    margin-left: -250px;
    height: auto;
    transition: margin-left .4s ease-in-out;
  }

  .profile-sidebar-container.slideout {
    position: absolute;
    margin-left: 0;
    height: auto;
    z-index: 1000;
    transition: margin-left .4s ease-in-out;

    .profile-sidebar {
      border-right: 1px solid #ddd;
    }
  }
}