.login-container {
  .modal-dialog {
    max-width: 400px;
    top: 60px;
  }

  .login-wrapper {

    h2 {
      font-family: 'Clicker Script', cursive;
      margin-top: 0;
    }

    .form-control {
      margin-bottom: 15px;
    }

    label {
      &.col-lg-2 {
        color: #999999;
        margin-bottom: 20px;
      }
    }

    .btn {
      color: #fff;
      margin-top: 25px;
      border-radius: 0;
      background: $blue1;
      transition: all .2s ease-in-out;

      &:hover {
        background: darken($blue1, 4%);
      }
    }

    .alert {
      .fa {
        font-size: 18px;
        position: relative;
        top: -15px;
        left: 5px;
      }
    }
  }
}