div.row
  div.col-md-12
    div.row
      div.col-md-3
        div.panel.panel-default
          div.panel-heading
            h5 Controls
          div.panel-body
            p some content will go here
            p not sure what it will be yet
            p but it's gotta be cool
            p and it's gotta have good logic
        div.panel.panel-default
          div.panel-heading
            h5 Controls
          div.panel-body
            p some content will go here
            p not sure what it will be yet
            p but it's gotta be cool
            p and it's gotta have good logic
      div.col-md-9
        div.panel.panel-default
          div.panel-heading
            h5 Your List
          div#ImYourDad
            ul.list-group.panel
              li.list-group-item(data-toggle="collapse", data-target="#yourMom", data-parent="#ImYourDad")
                p.lead I'm a fun sentence. Wow.
                p.small I'm a fun little sentence. Oh, boy.
              div.collapse#yourMom
                hr
                h5 I'm a header and stuff
                p.small I'm under the header and stuff. Derrrr!
              li.list-group-item(data-toggle="collapse", data-target="#yourDad", data-parent="#ImYourDad")
                p.lead I'm a fun sentence. Wow.
                p.small I'm a fun little sentence. Oh, boy.
              div.collapse#yourDad
                hr
                h5 I'm a header and stuff
                p.small I'm under the header and stuff. Derrrr!
              li.list-group-item(data-toggle="collapse", data-target="#greasyGranny", data-parent="#ImYourDad")
                p.lead I'm a fun sentence. Wow.
                p.small I'm a fun little sentence. Oh, boy.
              div.collapse#greasyGranny
                hr
                h5 I'm a header and stuff
                p.small I'm under the header and stuff. Derrrr!

