.honey-chat-container {
  .modal-dialog {
    width: 420px;
  }

  .modal-header {
    background: $green2;

    h5 {
      color: #fff;
    }

    .close {
      color: #fff;
    }
  }

  .modal-body {
    padding: 0;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;

    .col-lg-3 {
      //margin-right: 10px;
      text-align: center
    }

    .col-lg-8 {
      //margin-left: 0;
    }
  }

  .list-group {
    padding: 0;
    margin: 0;
  }

  .list-group-item {
    border: none;
    background: $green1;

    img {
      //display: inline;
      width: 50px;
      height: 50px;
      margin-right: 8px;
    }

    h6 {
      //display: inline-block;
      margin-top: 0;
    }

    .small {
      margin-bottom: 0;
      color: lighten(#aaa, 10%);
    }
  }

  .chat-helper {
    padding: 12px;

    h6 {
      display: inline;
    }

    .fa {
      font-size: 16px;
      color: lighten(red, 10%);
      padding-right: 5px;
    }
  }

  .chat-content-container {
    border: 1px solid #ddd;
    padding: 4px 10px 10px;
    border-radius: 10px;
    background: #fff;

    &:before {
      border: solid;
      border-color: #fff transparent;
      border-width: 10px 10px 0 10px;
      top: 43%;
      content: "";
      left: -14px;
      position: absolute;
      z-index: 99;
      transform: rotate(90deg);
    }
  }
}