div.col-md-9
  div.profile-content
    div(ui-view="add-item")
    div(ui-view="your-list")
    div(ui-view="partner-list")
    div(ui-view="edit-profile")
    div(ui-view="add-pic")
    div(ui-view="connect")
    div(ui-view="honey-chat")
