div.dashboard-container
  h3 Dashboard
  div.dashboard-navigation
    //ul.nav.nav-tabs
    //  li.active
    //    a(href=".general", data-toggle="tab", aria-expanded="true") General Settings
    //  li
    //    a(href=".pic", data-toggle="tab", aria-expanded="true") Profile Pic
    //  li
    //    a(href=".disconnect", data-toggle="tab", aria-expanded="true") Disconnect
  hr(class="header-hr")