div.modal.fade.login-container
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true", ng-click="close()") &times;
      div.modal-body
        auth-form(form-title="Register", submit-action="register(user)", error="error")