//div.row
//  div.col-md-10.col-md-offset-1.card-container
//    div.edit-profile-disconnect-container
//      div.row
//        div.col-md-12
//          h4 Your Account
//          div.row
//            div.col-md-4
//              div.profile-img-container
//                div.badge(ng-bind="userObject.invitation.status")
//                img.img-circle(ng-src="{{user.password.profileImageURL}}")
//            div.col-md-8
//              div.account-info
//                div.row.connection-container
//                  div.col-xs-5.text-center
//                    i.fa(ng-class="(userObject.gender === 'his') ? 'fa-male' : 'fa-female'")
//                    div.name-details
//                      h6(ng-bind="userObject.firstname + ' ' + userObject.lastname")
//                      p.small.text-center(ng-bind="userObject.username")
//                  div.col-xs-2.text-center
//                    i.mdi.mdi-rotate-3d
//                  div.col-xs-5.text-center
//                    i.fa(ng-class="(honeyGender === 'his') ? 'fa-male' : 'fa-female'", ng-hide="userObject.honey.uid === 'none'")
//                    div.text-center(ng-show="disable")
//                      i.fa.fa-question
//                    div.name-details(ng-hide="disable")
//                      h6(ng-bind="honeyName")
//                      p.small(ng-bind="honeyUsername")
//                div.row
//                  div.col-lg-12.reminder-container
//                    i.fa.fa-exclamation-triangle
//                    span.reminder &nbsp;Removing your account is permanent. All account data will be lost.
//                    div.btn-container
//                      button.btn.btn-default.btn-sm(ng-show="!deleteUser", ng-click="initDelete()") Remove Account
//                  div.col-lg-12.user-password-container(ng-show="deleteUser")
//                    div.input-group
//                      span.input-group-btn
//                        button.btn.btn-default.btn-sm(type="submit", ng-click="cancelDelete()") Cancel
//                      input.form-control(type="password", placeholder="Password", ng-model="pword")
//                      span.input-group-btn
//                        button.btn.btn-default.btn-sm(type="submit", ng-click="deleteAcct(pword)") Delete
//      hr
//      div.row
//        div.col-lg-12
//          h4 Your Honey
//          div.row
//            div.col-md-4
//              div.profile-img-container
//                div.badge(ng-bind="honeyStatus")
//                img.img-circle(ng-show="!disable", ng-src="{{honeyImg}}")
//                i.fa.fa-question-circle(ng-hide="!disable")
//            div.col-md-8
//              div.account-info
//                div.row.connection-container
//                  div.col-xs-5.text-center
//                    i.fa(ng-class="(honeyGender === 'his') ? 'fa-male' : 'fa-female'", ng-hide="disable")
//                    div.text-center(ng-show="disable")
//                      i.fa.fa-question
//                    div.name-details(ng-hide="disable")
//                      h6(ng-bind="honeyName")
//                      p.small.text-center(ng-bind="honeyUsername")
//                  div.col-xs-2.text-center
//                    i.mdi.mdi-rotate-3d
//                  div.col-xs-5.text-center
//                    i.fa(ng-class="(userObject.gender === 'his') ? 'fa-male' : 'fa-female'")
//                    div.name-details
//                      h6(ng-bind="userObject.firstname + ' ' + userObject.lastname")
//                      p.small(ng-bind="userObject.username")
//                div.row
//                  div.col-lg-12.reminder-container
//                    i.fa.fa-exclamation-triangle
//                    span.reminder(ng-hide="disable") &nbsp;Disconnecting from your honey will cause all shared data to be lost.
//                    span.reminder(ng-show="disable") &nbsp;You have to connect with someone before you can disconnect. ;)
//                    div.btn-container
//                      button.btn.btn-default.btn-sm(type="button", ng-class="{'disabled': disable}", ng-click="disconnectHoney()") Remove Account

div.row
  div.col-md-10.col-md-offset-1.card-container
    div.edit-profile-disconnect-container
      div.row
        div.col-md-6
          div.row
            div.col-md-12
              h4 Your Account
          div.panel.panel-default
            div.panel-heading
              div.profile-img-container
                //div.badge(ng-bind="userObject.invitation.status")
                div
                 img.img-circle(ng-src="{{user.password.profileImageURL}}")
                div.badge(ng-bind="userObject.invitation.status")
            div.panel-body
              div.row
                div.col-xs-12
                  div.account-info
                    div.row.connection-container
                      div.col-xs-5.text-center
                        i.fa(ng-class="(userObject.gender === 'his') ? 'fa-male' : 'fa-female'")
                        div.name-details
                          h6(ng-bind="userObject.firstname + ' ' + userObject.lastname")
                          p.small.text-center(ng-bind="userObject.username")
                      div.col-xs-2.text-center
                        i.mdi.mdi-rotate-3d
                      div.col-xs-5.text-center
                        i.fa(ng-class="(honeyGender === 'his') ? 'fa-male' : 'fa-female'", ng-hide="userObject.honey.uid === 'none'")
                        div.text-center(ng-show="disable")
                          i.fa.fa-question
                        div.name-details(ng-hide="disable")
                          h6(ng-bind="honeyName")
                          p.small(ng-bind="honeyUsername")
                    div.row
                      div.col-lg-12.reminder-container
                        i.mdi.mdi-alert-outline
                        h6 &nbsp;Account Removal
                        p.reminder Removing your account is permanent. All account data will be lost.
            div.panel-footer
              div.row
                div.col-xs-12
                  div.btn-container
                    button.btn.btn-default(ng-show="!deleteUser", ng-click="initDelete()") Remove Account
                div.col-xs-12.user-password-container(ng-show="deleteUser")
                  div.input-group
                    span.input-group-btn
                      button.btn.btn-default(type="submit", ng-click="cancelDelete()") Cancel
                    input.form-control(type="password", placeholder="Password", ng-model="pword")
                    span.input-group-btn
                      button.btn.btn-default(type="submit", ng-click="deleteAcct(pword)") Delete
        div.col-md-6
          div.row
            div.col-md-12
              h4 Honey Account
          div.panel.panel-default
            div.panel-heading
              div.profile-img-container
                div.profile-img
                  img.img-circle(ng-show="!disable", ng-src="{{honeyImg}}")
                  i.fa.fa-question-circle(ng-hide="!disable")
                div.badge(ng-bind="honeyStatus")
            div.panel-body
              div.row
                div.col-xs-12
                  div.account-info
                    div.row.connection-container
                      div.col-xs-5.text-center
                        i.fa(ng-class="(honeyGender === 'his') ? 'fa-male' : 'fa-female'", ng-hide="disable")
                        div.text-center(ng-show="disable")
                          i.fa.fa-question
                        div.name-details(ng-hide="disable")
                          h6(ng-bind="honeyName")
                          p.small.text-center(ng-bind="honeyUsername")
                      div.col-xs-2.text-center
                        i.mdi.mdi-rotate-3d
                      div.col-xs-5.text-center
                        i.fa(ng-class="(userObject.gender === 'his') ? 'fa-male' : 'fa-female'")
                        div.name-details
                          h6(ng-bind="userObject.firstname + ' ' + userObject.lastname")
                          p.small(ng-bind="userObject.username")
                    div.row
                      div.col-lg-12.reminder-container
                        i.mdi.mdi-alert-outline
                        h6 &nbsp;Honey Disconnect
                        p.reminder(ng-hide="disable") Disconnecting from your honey will cause all shared data to be lost.
                        p.reminder(ng-show="disable") You have to connect with someone before you can disconnect. ;)
            div.panel-footer
              div.btn-container
                button.btn.btn-default(type="button", ng-class="{'disabled': disable}", ng-click="disconnectHoney()") Remove Account

