div.row
  div.col-lg-10.col-lg-offset-1.card-container
    div.edit-profile-disconnect-container
      div.row
        div.col-lg-12
          h4 Your Account
          div.row
            div.col-lg-4
              div.profile-img-container
                div.badge(ng-bind="userObject.invitation.status")
                img.img-circle(ng-src="{{user.password.profileImageURL}}")
            div.col-lg-8
              div.account-info
                div.row
                  div.col-lg-5.text-right
                    i.fa(ng-class="(userObject.gender === 'his') ? 'fa-male' : 'fa-female'")
                    div.name-details
                      p.lead(ng-bind="userObject.firstname + ' ' + userObject.lastname")
                      p.small.text-left(ng-bind="userObject.username")
                  div.col-lg-2.text-center
                    i.fa.fa-exchange
                  div.col-lg-5.text-left
                    i.fa(ng-class="(honeyObject.gender === 'his') ? 'fa-male' : 'fa-female'", ng-hide="userObject.honey.uid === 'none'")
                    div.text-center(ng-show="disable")
                      i.fa.fa-question
                    div.name-details(ng-hide="disable")
                      p.lead() {{honeyObject.firstname}}&nbsp;{{honeyObject.lastname}}
                      p.small() {{honeyObject.username}}
                div.row
                  div.col-lg-12
                    h6 Remember:
                    p.reminder Removing your account is permanent. All account data will be lost.
                    button.btn-btn-default() Remove Account
      hr
      div.row
        div.col-lg-12
          h4 Your Honey
          div.row
            div.col-lg-4
              div.profile-img-container
                div.badge(ng-bind="honeyObject.invitation.status")
                img.img-circle(ng-src="{{honeyObject.image}}", ng-show="!disable")
                i.fa.fa-question-circle(ng-hide="!disable")
            div.col-lg-8
              div.account-info
                div.row
                  div.col-lg-5.text-right
                    i.fa(ng-class="(honeyObject.gender === 'his') ? 'fa-male' : 'fa-female'", ng-hide="disable")
                    div.text-center(ng-show="disable")
                      i.fa.fa-question
                    div.name-details(ng-hide="disable")
                      p.lead(ng-bind="honeyObject.firstname + ' ' + honeyObject.lastname")
                      p.small.text-left(ng-bind="honeyObject.username")
                  div.col-lg-2.text-center
                    i.fa.fa-exchange
                  div.col-lg-5.text-left
                    i.fa(ng-class="(userObject.gender === 'his') ? 'fa-male' : 'fa-female'")
                    div.name-details
                      p.lead(ng-bind="userObject.firstname + ' ' + userObject.lastname")
                      p.small(ng-bind="userObject.username")
                div.row
                  div.col-lg-12
                    h6 Remember:
                    p.reminder(ng-hide="disable") Disconnecting from your honey will cause all shared data to be lost.
                    p.reminder(ng-show="disable") You have to connect with someone before you can disconnect. ;)
                    button.btn-btn-default(type="button", ng-disabled="disable") Remove Account
