div.row
  div.col-md-10.col-md-offset-1.card-container
    div.edit-profile-disconnect-container
      div.row
        div.col-md-12
          h4 Your Account
          div.row
            div.col-md-4
              div.profile-img-container
                div.badge(ng-bind="userObject.invitation.status")
                img.img-circle(ng-src="{{user.password.profileImageURL}}")
            div.col-md-8
              div.account-info
                div.row.connection-container
                  div.col-xs-5.text-right
                    i.fa(ng-class="(userObject.gender === 'his') ? 'fa-male' : 'fa-female'")
                    div.name-details
                      h6(ng-bind="userObject.firstname + ' ' + userObject.lastname")
                      p.small.text-left(ng-bind="userObject.username")
                  div.col-xs-2.text-center
                    i.fa.fa-exchange
                  div.col-xs-5.text-left
                    i.fa(ng-class="(honeyGender === 'his') ? 'fa-male' : 'fa-female'", ng-hide="userObject.honey.uid === 'none'")
                    div.text-center(ng-show="disable")
                      i.fa.fa-question
                    div.name-details(ng-hide="disable")
                      h6(ng-bind="honeyName")
                      p.small(ng-bind="honeyUsername")
                div.row
                  div.col-lg-12.reminder-container
                    h6 Remember:
                    p.reminder Removing your account is permanent. All account data will be lost.
                    button.btn.btn-default.btn-sm(ng-show="!deleteUser", ng-click="initDelete()") Remove Account
                  div.col-lg-12.user-password-container(ng-show="deleteUser")
                    div.input-group
                      span.input-group-btn
                        button.btn.btn-default.btn-sm(type="submit", ng-click="cancelDelete()") Cancel
                      input.form-control(type="password", placeholder="Password", ng-model="pword")
                      span.input-group-btn
                        button.btn.btn-default.btn-sm(type="submit", ng-click="deleteAcct(pword)") Delete
      hr
      div.row
        div.col-lg-12
          h4 Your Honey
          div.row
            div.col-md-4
              div.profile-img-container
                div.badge(ng-bind="honeyStatus")
                img.img-circle(ng-show="!disable", ng-src="{{honeyImg}}")
                i.fa.fa-question-circle(ng-hide="!disable")
            div.col-md-8
              div.account-info
                div.row.connection-container
                  div.col-xs-5.text-right
                    i.fa(ng-class="(honeyGender === 'his') ? 'fa-male' : 'fa-female'", ng-hide="disable")
                    div.text-center(ng-show="disable")
                      i.fa.fa-question
                    div.name-details(ng-hide="disable")
                      h6(ng-bind="honeyName")
                      p.small.text-left(ng-bind="honeyUsername")
                  div.col-xs-2.text-center
                    i.fa.fa-exchange
                  div.col-xs-5.text-left
                    i.fa(ng-class="(userObject.gender === 'his') ? 'fa-male' : 'fa-female'")
                    div.name-details
                      h6(ng-bind="userObject.firstname + ' ' + userObject.lastname")
                      p.small(ng-bind="userObject.username")
                div.row
                  div.col-lg-12.reminder-container
                    h6 Remember:
                    p.reminder(ng-hide="disable") Disconnecting from your honey will cause all shared data to be lost.
                    p.reminder(ng-show="disable") You have to connect with someone before you can disconnect. ;)
                    button.btn.btn-default.btn-sm(type="button", ng-class="{'disabled': disable}", ng-click="disconnectHoney()") Remove Account
