div.edit-profile-container
  h3 Edit Profile
  div.edit-profile-navigation
    ul.nav.nav-tabs
      li.active
        a(href=".general", data-toggle="tab", aria-expanded="true") General Settings
      li
        a(href=".pic", data-toggle="tab", aria-expanded="true") Profile Pic
      li
        a(href=".disconnect", data-toggle="tab", aria-expanded="true") Disconnect
  hr
  div#editProfileContent.tab-content
    div.general.tab-pane.fade.active.in(general-settings)
    div.pic.tab-pane.fade(profile-pic)
    div.disconnect.tab-pane.fade(disconnect)


