div.row
  div.col-lg-10.col-lg-offset-1
    div.edit-profile-form-container
      form.form-horizontal(name="updateForm")
        fieldset
          div.profile-edit-general-settings
            div.col-lg-10.col-lg-offset-1
              h5 General Settings
            div.form-group
              label.col-lg-2.control-label(for="firstName") First Name
              div.col-lg-9
                input#firstName.form-control(type="text", ng-model="u.fname" placeholder="{{firstName}}")
            div.form-group
              label.col-lg-2.control-label(for="firstName") Last Name
              div.col-lg-9
                input#lastName.form-control(type="text", ng-model="u.lname", placeholder="{{lastName}}")
            div.form-group
              label.col-lg-2.control-label(for="userName") Username
              div.col-lg-9
                input#userName.form-control(type="text", ng-model="u.uname", placeholder="{{userName}}")
            div.form-group
              label.col-lg-2.control-label(for="gender") Gender
              label.radio-inline
                input(type="radio", name="gender", value="his", ng-model="u.gen", ng-checked="his")
                | Male &nbsp;
              label.radio-inline
                input(type="radio", name="gender", value="hers", ng-model="u.gen", ng-checked="hers")
                | Female &nbsp;
          div.profile-edit-password-change
            h5 Change Password
            div.form-group
              label.col-lg-2.control-label(for="oldPassword") Old Password
              div.col-lg-9
                input#oldPassword.form-control(type="password", ng-model="u.oldPassword", placeholder="Old Password")
            div.form-group
              label.col-lg-2.control-label(for="passwordConfirm") Confirm
              div.col-lg-9
                input#newPassword.form-control(type="password", ng-model="u.newPassword", placeholder="New Password")
            div.form-group.text-right
              div.col-lg-10.col-lg-offset-1
                button.btn.btn-danger.btn-sm(type="reset") Cancel
                button.btn.btn-primary.btn-sm(type="submit", ng-click="submitUpdate({u: u})") Submit Changes