div.row
  div.col-lg-10.col-lg-offset-1
    div.edit-profile-pic-container
      div.row.img-container
        div.col-lg-2
          img.img-responsive(ng-src="{{user.password.profileImageURL}}")
        div.col-lg-10
          h5 Avatar managed by Gravatar
          a.btn.btn-primary(role="button", href="http://en.gravatar.com", target="_blank") Change Image
      div.row.gravatar-info
        div.col-lg-12
          h4 What is Gravatar?
          p An "avatar" is an image that represents you online—a little picture that appears next to your name when you interact with websites.
          p A Gravatar is a Globally Recognized Avatar. You upload it and create your profile just once, and then when you participate in any Gravatar-enabled site your Gravatar image will automatically follow you there.
          p Gravatar is a free service for site owners, developers, and users. It is automatically included in every WordPress.com account and is run and supported by Automattic.
          p Remember to use the same email address when you sign up with Gravatar. Your profile pic will appear as soon as you save an image