div.col-lg-3.col-md-3.col-sm-4.col-xs-8.profile-sidebar-container(ng-class="{'slideout': getSidenavState()}")
  div.profile-sidebar
    div.container-fluid.text-center
      div.profile-userpic
        img.img-circle(ng-src="{{user.password.profileImageURL}}")
      div.profile-usertitle
        div.usertitle-name
          h5(ng-bind="username")
        div.usertitle-email
          p(ng-bind="firstLastName")
      div.profile-userbutton
        button.btn.btn-warning.btn-block(type="button", data-toggle="collapse", data-target="#notificationWell", aria-expanded="false", aria-controls="notificationWell") Notifications &nbsp;
          i.fa.fa-bell-o
        div.collapse#notificationWell
          div.well
            div(ng-show="value === 'none'")
              h6 You have no new notifications...
            div(ng-show="value === 'sent'")
              h6 Your invitation has been sent to {{honeyName}}!
            div(ng-show="value === 'received'")
              h6 {{honeyName}} sent you an invitation to connect!
              div.btn-group
                button.btn.btn-primary.btn-xs(ng-click="acceptInvite()") accept
                button.btn.btn-danger.btn-xs(ng-click="rejectInvite()") reject
            div(ng-show="value === 'connected'")
              h6 You are now connected with {{honeyName}}!
            div(ng-show="value === 'rejected'")
              h6 You have rejected {{honeyName}}'s invitation.
            div(ng-show="value === 'denied'")
              h6 You're invitation to {{honeyName}} was denied.
    div.profile-usermenu
      div.panel.list-group
        a.list-group-item(ui-sref="home.dashboard")
          span Dashboard
          i.fa.fa-dashboard.pull-left.list-icon
        a.list-group-item.main(href="", data-toggle="collapse", data-target="#sm", data-parent="#menu", ng-click="iconToggle(1)")
          span Honeydoo's
          i.fa.fa-database.pull-left.list-icon
          i.fa.fa-angle-down.pull-right.panel-icon(ng-class="{'open-panel-icon': iconActive1}")
        div#sm.sublinks.collapse
          a.list-group-item.small(ui-sref="home.add")
            span.sub The Lists
            i.fa.fa-plus-circle.pull-right.sub-icon
            i.fa.fa-caret-right.pull-left
        a.list-group-item.main(href="", data-toggle="collapse", data-target="#sl", data-parent="#menu", ng-click="iconToggle(2)")
          span Account Settings
          i.fa.fa-user.pull-left.list-icon
          i.fa.fa-angle-down.panel-icon.pull-right(ng-class="{'open-panel-icon': iconActive2}")
        div#sl.sublinks.collapse
          a.list-group-item.small(ui-sref="home.edit_profile")
            span.sub Edit Profile
            i.fa.fa-cog.pull-right.sub-icon
            i.fa.fa-caret-right.pull-left
          a.list-group-item.small(ui-sref="home.connect")
            span.sub Connect with your Honey
            i.fa.fa-link.pull-right.sub-icon
            i.fa.fa-caret-right.pull-left
        a.list-group-item(ng-click="showHoneyChat()")
          span Honeychat
          i.fa.fa-comments-o.pull-left.list-icon
          span.badge.pull-right(ng-show="showBadge", ng-bind="chatLengthDif")