div.col-lg-3.col-md-3.col-sm-4.col-xs-8.profile-sidebar-container(ng-class="{'slideout': getSidenavState()}")
  div.profile-sidebar
    div.container-fluid.text-center
      div.profile-userpic
        img.img-circle(ng-src="{{user.password.profileImageURL}}")
      div.profile-usertitle
        div.usertitle-name
          h5(ng-bind="userObj.username")
        div.usertitle-email
          p(ng-bind="userObj.firstname + ' ' + userObj.lastname")
      div.profile-userbutton
        button.btn.btn-warning.btn-block(type="button", data-toggle="collapse", data-target="#notificationWell", aria-expanded="false", aria-controls="notificationWell") Notifications &nbsp;
          i.fa.fa-bell-o(ng-class="{'new-notification': !showDefaultNotification}")
        div.collapse#notificationWell
          div.well
            div(ng-show="showDefaultNotification")
              h6 You have no new notifications...
            div.notification-container(ng-show="notifications.length > 0")
              div.row
                div.message-container
                  div.col-xs-1.chevron-container(ng-show="notifications.length > 0")
                    i.fa.fa-chevron-left(ng-click="prev()")
                  div.col-xs-10(ng-repeat="notification in notifications")
                    div.message(ng-if="notificationIndex === $index")
                      span(style="display:block;margin-bottom:8px") {{notification.message}}
                      button.btn.btn-danger.btn-xs(ng-hide="notification.message.indexOf('received an invitation') !== -1 && value === 'received'", ng-click="removeNotification(notification)") Remove
                      div.btn-group(ng-show='value === "received" && notification.message.indexOf("received an invitation") !== -1')
                        button.btn.btn-primary.btn-xs(ng-click="acceptInvite()") accept
                        button.btn.btn-danger.btn-xs(ng-click="rejectInvite()") reject
                  div.col-xs-1.chevron-container-2(ng-show="notifications.length > 0", style="position:absolute;top:10px;right:10px")
                    i.fa.fa-chevron-right(ng-click="next()", style="cursor:pointer")
    div.profile-usermenu
      div.panel.list-group
        a.list-group-item(ui-sref="home.dashboard")
          span Dashboard
          i.fa.fa-dashboard.pull-left.list-icon
        a.list-group-item.main(href="", data-toggle="collapse", data-target="#sm", data-parent="#menu", ng-click="iconToggle(1)")
          span Honeydoo's
          i.fa.fa-database.pull-left.list-icon
          i.fa.fa-angle-down.pull-right.panel-icon(ng-class="{'open-panel-icon': iconActive1}")
        div#sm.sublinks.collapse
          a.list-group-item.small(ui-sref="home.add")
            span.sub The Lists
            i.fa.fa-plus-circle.pull-right.sub-icon
            i.fa.fa-caret-right.pull-left
        a.list-group-item.main(href="", data-toggle="collapse", data-target="#sl", data-parent="#menu", ng-click="iconToggle(2)")
          span Account Settings
          i.fa.fa-user.pull-left.list-icon
          i.fa.fa-angle-down.panel-icon.pull-right(ng-class="{'open-panel-icon': iconActive2}")
        div#sl.sublinks.collapse
          a.list-group-item.small(ui-sref="home.edit_profile")
            span.sub Edit Profile
            i.fa.fa-cog.pull-right.sub-icon
            i.fa.fa-caret-right.pull-left
          a.list-group-item.small(ui-sref="home.connect")
            span.sub Connect
            i.fa.fa-link.pull-right.sub-icon
            i.fa.fa-caret-right.pull-left
        a.list-group-item(ng-click="showHoneyChat()")
          span Honeychat
          i.fa.fa-comments-o.pull-left.list-icon
          span.badge.pull-right(ng-show="showBadge > 0", ng-bind="showBadge")