div.col-md-3
  div.profile-sidebar
    div.container-fluid.text-center
      div.profile-userpic
        img.img-circle(ng-src="{{user.password.profileImageURL}}")
      div.profile-usertitle
        div.usertitle-name
          h5 {{username}}
        div.usertitle-email
          p {{firstLastName}}
      div.profile-userbutton
        button.btn.btn-warning.btn-block Honey Chat! &nbsp;
          i.fa.fa-comments-o
    div.profile-usermenu
      div.panel.list-group
        a.list-group-item.main(href="", data-toggle="collapse" data-target="#sm" data-parent="#menu", ng-model="icon1", ng-click="iconToggle(icon1)")
          span Honeydoo's
          i.fa.fa-database.pull-left.list-icon
          i.fa.pull-right(ng-class="{'fa-angle-down': !iconActive1, 'fa-angle-up': iconActive1}")
        div#sm.sublinks.collapse
          a.list-group-item.small
            span.sub Add Honeydoo
            i.fa.fa-plus-circle.pull-right.sub-icon
            i.fa.fa-caret-right.pull-left
          a.list-group-item.small
            span.sub Your List
            i.fa.pull-right.sub-icon(ng-class="{'fa-male': userIcon, 'fa-female': !userIcon}")
            i.fa.fa-caret-right.pull-left
          a.list-group-item.small
            span.sub Your Honey's List
            i.fa.pull-right.sub-icon(ng-class="{'fa-male': !userIcon, 'fa-female': userIcon}")
            i.fa.fa-caret-right.pull-left
        a.list-group-item.main(href="", data-toggle="collapse", data-target="#sl", data-parent="#menu", ng-model="icon2", ng-click="iconToggle(icon2)")
          span Account Settings
          i.fa.fa-user.pull-left.list-icon
          i.fa.pull-right(ng-class="{'fa-angle-down': !iconActive2, 'fa-angle-up': iconActive2}")
        div#sl.sublinks.collapse
          a.list-group-item.small
            span.sub Edit Profile
            i.fa.fa-cog.pull-right.sub-icon
            i.fa.fa-caret-right.pull-left
          a.list-group-item.small
            span.sub Add Profile Pic
            i.fa.fa-image.pull-right.sub-icon
            i.fa.fa-caret-right.pull-left
          a.list-group-item.small
            span.sub Connect with your Honey
            i.fa.fa-link.pull-right.sub-icon
            i.fa.fa-caret-right.pull-left
        a.list-group-item(href="")
          span Honeychat
          i.fa.fa-comments-o.pull-left.list-icon