div.nav.navbar-custom.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      div.sidebar-toggle.pull-left()
        //i.fa.fa-bars
        input#unchecked.cbx.hidden(type="checkbox")
        label.lbl(for="unchecked", ng-click="changeSidenavState()")
      a.navbar-brand(href="index.html") Honeydoo List&nbsp;
        i.fa.fa-venus-mars
    div.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-hide="loggedIn")
        li
          a(href="#/login") Sign In
        li
          a(href="#/register") Register
      ul.nav.navbar-nav.navbar-right(ng-hide="!loggedIn")
        li.dropdown
          a.dropdown-toggle(href="", data-toggle="dropdown")
            img(ng-src="{{user.password.profileImageURL}}", class="img-thumbnail")
            strong &nbsp;&nbsp;{{user.password.email}}&nbsp;&nbsp;
            i.fa.fa-angle-down
          ul.dropdown-menu
            li
              div.container-fluid
                div.row
                  div.col-sm-4
                    div.user-img-container
                      img.img-rounded(ng-src="{{user.password.profileImageURL}}")
                  div.col-sm-8.buttons-container
                    div.row
                      div.col-sm-12.acct-btn-container
                        //p.text-center {{user.password.email}}
                        //div.text-left.logout-container
                        //  a.btn.btn-danger.btn-block(ng-click="logOut()") Logout
                        i.fa.fa-cogs
                        p.text-center &nbsp;&nbsp;Account Settings
                      div.col-sm-12.login-btn-container(ng-click="logOut()")
                        i.fa.fa-power-off
                        p.text-center &nbsp;&nbsp;Sign Out
