div.modal.fade.honey-chat-container
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type="button", ng-click="close(false)", data-dismiss="modal", aria-hidden="true")&times;
        h5.modal-title Honeychat
      div.modal-body
        ul.list-group
          li.list-group-item(ng-repeat="message in messages")
            div.row
              div.col-lg-3
                h6 p_rex
                img.img-circle(ng-src="{{user.password.profileImageURL}}")
              div.col-lg-8.chat-content-container
                p {{message}}
          //li.list-group-item
          //  div.row
          //    div.col-lg-3
          //      h6 baby_girl
          //      img.img-circle(ng-src="{{user.password.profileImageURL}}")
          //    div.col-lg-8.chat-content-container
          //      p this is my new chat message...and I'm just a little chatty Cathy. Blah..blah..blah....turkey butt.
      div.modal-footer
        div.form-group
          input.form-control(type="text", placeholder="Type a message...")


