div.modal.fade.honey-chat-container
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type="button", ng-click="close(false)", data-dismiss="modal", aria-hidden="true")&times;
        h5.modal-title Honeychat
      div.modal-body
        div.chat-helper.text-center(ng-show="!showModalBody")
          i.fa.fa-exclamation-triangle
          h6 You need to connect with someone before using honeychat.
        div.chat-helper.text-center(ng-show="showChatGreeting")
          i.fa.fa-check
          h6 Type a message and start chatting!
        ul.list-group(ng-show="showModalBody")
        ul.list-group(ng-show="showModalBody")
          li.list-group-item(ng-repeat="message in messages")
            div.row
              div.col-sm-3.col-xs-3
                h6 {{message.user}}
                img.img-circle(ng-src="{{message.img}}")
              div.col-sm-8.col-xs-8.chat-content-container
                p.small {{message.timestamp | date:'MMM d, y h:mm a'}}
                p {{message.text}}
      div.modal-footer
        div.input-group
          input.form-control(type="text", placeholder="Type a message...", ng-model="message", ng-disabled="!showModalBody")
          span.input-group-btn
            button.btn.btn-default.btn-secondary(type="submit", ng-click="addMessage(message)", ng-class="{'disabled': !showModalBody}") Submit


