.profile-container {
  padding: 15px;
  background: $green1;

  .col-md-3 {
    padding-right: 7px;
  }

  .col-md-9 {
    padding-left: 7px;
  }

  .profile-sidebar {
    height: calc(100vh - 94px);
    //border: 1px solid #eee;
    padding-top: 15px;
    border-radius: 3px;
    background: #fff;

    .profile-userpic {

    }

    .profile-usertitle {
      margin-bottom: 35px;
    }

    .profile-userbutton {

    }

    .profile-usermenu {
      margin-top: 40px;

      .panel,
      .list-group-item {
        box-shadow: none;
        border-radius: 0;
        border-right: none !important;
        border-left: none !important;
      }
    }
  }

  .profile-content {
    @extend .profile-sidebar
  }
}