div.row
  div.col-md-12
    div.completed-lists-container
      div.row
        div.col-md-6
          div.panel.panel-default
            div.panel-heading
              h4 {{userObject.firstname + "'s"}} Completed Items
            div.panel-body(ng-hide="yourComplete.length > 0")
              p You haven't completed any honeydoo's yet!
            ul.list-group
              li.list-group-item(dir-paginate="item in yourComplete|itemsPerPage:pageSize", pagination-id="yourComplete")
                div.completed-info-container(data-toggle="collapse", ng-attr-data-target='{{"#your-complete-" + $index}}')
                  div.row
                    div.col-md-10.col-xs-4
                      div.date-container
                        strong Completed On:
                        span.small &nbsp;{{item.completedOn | date:'MMM d, y h:mm a'}}
                      div.title-container
                        p.lead(style="margin-bottom:0") {{item.title}}
                div.collapse(ng-attr-id='{{"your-complete-" + $index}}')
                  p this is the stuff in the collapsed div {{yourComplete.length}}
            div.panel-footer(ng-show="yourComplete.length > 0")
              dir-pagination-controls(pagination-id="yourComplete", direction-links="true", boundary-links="true", auto-hide="false")
        div.col-md-6
          div.panel.panel-default
            div.panel-heading
              h4 {{userObject.honey.firstname + "'s Completed Items"|| "Connect with your honey"}}
            div.panel-body(ng-hide="honeyComplete.length > 0")
              p Your honey hasn't completed any honeydoo's yet
            ul.list-group
              li.list-group-item(dir-paginate="item in honeyComplete|itemsPerPage:pageSize", pagination-id="honeyComplete")
                div.completed-info-container(data-toggle="collapse", ng-attr-data-target='{{"#honey-complete-" + $index}}')
                  div.row
                    div.col-md-10.col-xs-4
                      div.date-container
                        strong Completed On:
                        span.small &nbsp;{{item.completedOn | date:'MMM d, y h:mm a'}}
                      div.title-container
                        p.lead(style="margin-bottom:0") {{item.title}}
                div.collapse(ng-attr-id='{{"honey-complete-" + $index}}')
                  p this is the stuff in the other collapsed div
            div.panel-footer(ng-show="honeyComplete.length > 0")
              dir-pagination-controls(pagination-id="honeyComplete", direction-links="true", boundary-links="true", auto-hide="false")