div.row
  div.col-md-12
    div.row
      div.col-md-10.col-md-offset-1.your-list-panel-container
        div.panel.panel-default
          div.panel-heading
            div.row
              div.col-sm-6
                h4(ng-show="userObject.honey") {{userObject.honey.firstname + "'s"}} List
                h4(ng-show="!userObject.honey") Not connected
              div.col-sm-6.list-controls
                div.btn-group.btn-group-justified(ng-show="showButtonGroup")
                  div.btn-group
                    button.btn.btn-default.bt-block(ng-click="showSearch('search')", ng-class="{'disabled': !userObject.honey}") Search
                  div.btn-group
                    button.btn.btn-default.btn-block(ng-click="showSearch('sort')", ng-class="{'disabled': !userObject.honey}") Sort
                div.input-group(ng-show="showQuery")
                  input.form-control(type="text", ng-model="query", placeholder="Search")
                  span.input-group-btn
                    button.btn.btn-default(ng-click="showSearch('search')") Back
                div.row(ng-show="showSort")
                  div.col-xs-8
                    ol.nya-bs-select.form-control.show-menu-arrow(ng-model="sortOrder", title="Sort by")
                      li.nya-bs-option(data-value="-addedOn")
                        a Date added (newest)
                          span.glyphicon.glyphicon-ok.check-mark
                      li.nya-bs-option(data-value="addedOn")
                        a Date added (oldest)
                          span.glyphicon.glyphicon-ok.check-mark
                      li.nya-bs-option(data-value="-due")
                        a Due date (earliest due)
                          span.glyphicon.glyphicon-ok.check-mark
                      li.nya-bs-option(data-value="due")
                        a Due date (latest due)
                          span.glyphicon.glyphicon-ok.check-mark
                      li.nya-bs-option(data-value="requester")
                        a Requested by
                          span.glyphicon.glyphicon-ok.check-mark
                      li.nya-bs-option(data-value="status")
                        a Status
                          span.glyphicon.glyphicon-ok.check-mark
                  div.col-xs-2(ng-show="showSort")
                    button.btn.btn-default(ng-click="showSearch('sort')") Back
          div.panel-body(ng-hide="honeyList.length >= 1")
            h5.text-center(ng-show="userObject.honey") Use the control panel to start adding honeydoos!
            h5.text-center(ng-show="!userObject.honey") Can't add todos for your honey until you connect!
          ul.list-group
            li.list-group-item(dir-paginate="item in honeyList|orderBy:sortOrder|filter:query|itemsPerPage:pageSize", pagination-id="honeys", currentPage="currentPage")
              div.list-info-container
                div.row
                  div.col-md-9.col-xs-8(data-toggle="collapse", ng-attr-data-target='{{"#honeydooItem-" + $index}}')
                    div.date-container
                      strong Date added:
                      span.small &nbsp;{{item.addedOn | date:'MMM d, y h:mm a'}}
                    div.title-container
                      p.lead {{item.title}}
                  div.col-md-3.col-xs-4
                    div.edit-icons
                      i.mdi.mdi-pencil-box-outline(ng-click="editItem($index, 'honeyList', item)")
                      i.mdi.mdi-delete-variant(ng-click="removeHoneydoo(item, 'honeyList')")
              div.collapse(ng-attr-id='{{"honeydooItem-" + $index}}')
                hr
                div.row
                  div.col-xs-3.col-md-3.col-lg-2.hidden-xs
                    div.requester-container
                      div.requester-heading.text-center(style="border:1px solid #ddd;border-bottom:none;padding:3px;")
                        p(style="margin:0;display:inline-block;font-weight:600") Requester
                      div.requester-body.text-center(style="padding:0;")
                        img.img-thumbnail.img-responsive(ng-src="{{item.requesterImg}}")
                      div.requester-footer.text-center(style="border:1px solid #ddd;padding:2px;border-top:none;")
                        p.small(style="margin:0;") {{item.requester}}
                  div.col-xs-12.col-md-9.col-lg-10
                    div.row
                      div.col-sm-6.col-xs-6
                        i.mdi.mdi-calendar-clock
                        p(style="margin:0;display:inline-block;font-weight:600;") Due by:
                        p.small {{item.due}}
                      div.col-sm-6.col-xs-6
                        i.mdi.mdi-information-outline
                        p(style="margin:0;display:inline-block;font-weight:600;") Due by:
                        p.small {{item.status}}
                    div.row
                      div.col-sm-12.note-container
                        i.mdi.mdi-note-outline
                        p(style="margin:0;display:inline-block;font-weight:600;") Note:
                        p.note {{item.note}}
          div.panel-footer(ng-show="honeyList.length >= 1")
            div.row
              div.col-sm-6
                dir-pagination-controls(pagination-id="honeys", direction-links="true", on-page-change="pageChangeHandler(newPageNumber, 'honeys')", boundary-links="true", auto-hide="false")
              div.col-sm-6
                div.list-controls-container(style="height:56px")
                  button.btn.btn-default.btn-block(type="button", ng-click="showAddItem()",style="position:relative;top:50%;transform:translateY(-50%)") Add Honeydoo