div.lists-container
  h3 The Lists
  div.lists-navigation
    ul.nav.nav-tabs
      li.active
        a(href=".your-list", data-toggle="tab", aria-expanded="true") Your List
      li
        a(href=".honey-list", data-toggle="tab", aria-expanded="true") Your Honey's List
      li
        a(href=".completed", data-toggle="tab", aria-expanded="true") Completed
  hr.header-hr
  div#listsContent.tab-content
    div.your-list.tab-pane.fade.active.in(your-list)
    div.honey-list.tab-pane.fade(honey-list)
    div.completed.tab-pane.fade(completed)