div.row
  div.col-md-12
    div.row
      div.col-md-4
        div.panel.panel-default.controls-panel
          div.panel-heading
            h4 Controls
          div.panel-body
            h6 Add
            p Click the button below to add a new todo item to you or your honey's list
            button.btn.btn-default.btn-block(type="button", ng-click="showAddItem()") Add Honeydoo
      div.col-md-8.your-list-panel-container
        div.panel.panel-default
          div.panel-heading
            div.row
              div.col-sm-6
                h4 {{userObject.firstname + "'s" || Your}} List
              div.col-sm-6.list-controls
                div.btn-group.btn-group-justified(ng-show="showButtonGroup")
                  div.btn-group
                    button.btn.btn-default.bt-block(ng-click="showSearch('search')") Search
                  div.btn-group
                    button.btn.btn-default.btn-block(ng-click="showSearch('sort')") Sort
                div.input-group(ng-show="showQuery")
                  input.form-control(type="text", ng-model="query", placeholder="Search")
                  span.input-group-btn
                    button.btn.btn-default(ng-click="showSearch('search')") Back
                div.row(ng-show="showSort")
                  div.col-xs-8
                    ol.nya-bs-select.form-control.show-menu-arrow(ng-model="sortOrder", title="Sort by")
                      li.nya-bs-option(data-value="-addedOn")
                        a Date added (newest)
                              span.glyphicon.glyphicon-ok.check-mark
                      li.nya-bs-option(data-value="addedOn")
                        a Date added (oldest)
                          span.glyphicon.glyphicon-ok.check-mark
                      li.nya-bs-option(data-value="-due")
                        a Due date (earliest due)
                          span.glyphicon.glyphicon-ok.check-mark
                      li.nya-bs-option(data-value="due")
                        a Due date (latest due)
                          span.glyphicon.glyphicon-ok.check-mark
                      li.nya-bs-option(data-value="requester")
                        a Requested by
                          span.glyphicon.glyphicon-ok.check-mark
                      li.nya-bs-option(data-value="status")
                        a Status
                          span.glyphicon.glyphicon-ok.check-mark
                  div.col-xs-2(ng-show="showSort")
                    button.btn.btn-default(ng-click="showSearch('sort')") Back
          div.panel-body(ng-hide="yourList.length >= 1")
            h5.text-center Use the control panel to start adding honeydoos!
          ul.list-group
            li.list-group-item(dir-paginate="list in yourList|orderBy:sortOrder|filter:query|itemsPerPage:pageSize", pagination-id="yours", currentPage="currentPage")
              div.list-info-container
                div.row
                  div.col-lg-10.col-md-9.col-sm-9.col-xs-8(data-toggle="collapse", ng-attr-data-target='{{"#honeydoo-" + $index}}')
                    div.date-container
                      strong Date added:
                      span.small &nbsp;{{list.addedOn | date:'MMM d, y h:mm a'}}
                    div.title-container
                      p.lead {{list.title}}
                  div.col-lg-2.col-md-3.col-sm-3.col-xs-4
                    div.panel.panel-default
                      div.panel-body
                        div.edit-icons
                          i.mdi.mdi-pencil-box-outline(ng-click="editItem($index, 'yourList', list)")
                          i.mdi.mdi-delete-variant(ng-click="removeHoneydoo(list, 'yourList')")
              div.collapse(ng-attr-id='{{"honeydoo-" + $index}}')
                hr
                div.row
                  div.col-xs-4
                    div.requester-img-container
                      img(ng-src="{{list.requesterImg}}")
                    div.requester-name-container
                      div.name-wrapper
                        p requested by:
                        i.mdi.mdi-account-outline &nbsp;
                        span.small {{list.requester}}
                  div.col-xs-8
                    div.row
                      div.col-sm-6
                        i.mdi.mdi-calendar-clock
                        span {{list.due}}
                      div.col-sm-6
                        i.mdi.mdi-information-outline
                        span {{list.status}}
                    div.row
                      div.col-sm-12.note-container
                        p.note {{list.note}}
          div.panel-footer(ng-show="yourList.length >= 1")
            dir-pagination-controls(pagination-id="yours", on-page-change="pageChangeHandler(newPageNumber, 'yours')", direction-links="true", boundary-links="true", auto-hide="false")




