div.row
  div.col-md-12
    div.row
      div.col-md-4
        div.panel.panel-default.controls-panel
          div.panel-heading
            h4 Controls
          div.panel-body
            h6 Add
            p Click the button below to add a new todo item to you or your honey's list
            button.btn.btn-default.btn-block(type="button", ng-click="showAddItem()") Add Honeydoo
      div.col-md-8.your-list-panel-container
        div.panel.panel-default
          div.panel-heading
            h4 {{userObject.firstname + "'s" || Your}} List
          div.panel-body(ng-hide="yourList.length >= 1")
            h5.text-center Use the control panel to start adding honeydoos!
          ul.list-group
            li.list-group-item(dir-paginate="list in yourList | itemsPerPage:pageSize", pagination-id="yours", currentPage="currentPage")
              div.list-info-container
                div.row
                  div.col-md-10(data-toggle="collapse", ng-attr-data-target='{{"#honeydoo-" + $index}}')
                    div.date-container
                      strong Date added:
                      span.small &nbsp;{{list.addedOn | date:'MMM d, y h:mm a'}}
                    div.title-container
                      p.lead {{list.title}}
                  div.col-md-2
                    div.panel.panel-default
                      div.panel-body
                        div.edit-icons
                          i.mdi.mdi-pencil-box-outline(ng-click="editItem($index, 'yourList')")
                          i.mdi.mdi-delete-variant(ng-click="removeItem($index, 'yourList')")
              div.collapse(ng-attr-id='{{"honeydoo-" + $index}}')
                hr
                div.row
                  div.col-md-4
                    div.requester-img-container
                      img(ng-src="{{list.requesterImg}}")
                    div.requester-name-container
                      div.name-wrapper
                        p requested by:
                        i.mdi.mdi-account-outline &nbsp;
                        span.small {{list.requester}}
                  div.col-md-8
                    div.row
                      div.col-md-6
                        i.mdi.mdi-calendar-clock
                        span {{list.due}}
                      div.col-md-6
                        i.mdi.mdi-information-outline
                        span {{list.status}}
                    div.row
                      div.col-md-12.note-container
                        p.note {{list.note}}
          div.panel-footer(ng-show="yourList.length >= 1")
            dir-pagination-controls(pagination-id="yours", on-page-change="pageChangeHandler(newPageNumber)", direction-links="true", boundary-links="true", auto-hide="false")




