div.row
  div.col-md-12
    div.row
      div.col-md-4
        div.panel.panel-default
          div.panel-heading
            h5 Controls
          div.panel-body
            p some content will go here
            p not sure what it will be yet
            p but it's gotta be cool
            p and it's gotta have good logic
            button.btn.btn-default.btn-block(type="button", ng-click="showAddItem()") Add Honeydoo
      div.col-md-8.your-list-panel-container
        div.panel.panel-default
          div.panel-heading
            h5 Your List
          //div.panel-body
          ul.list-group
            li.list-group-item(data-toggle="collapse", ng-attr-data-target='{{"#honeydoo-" + $index}}' ng-repeat="list in yourList")
              div.list-info-container(data-toggle="collapse", ng-attr-data-target='{{"#honeydoo-" + $index}}')
                p.small Date added: {{list.addedOn | date:'MMM d, y h:mm a'}}
                p.lead Title: {{list.title}}
              div.collapse(ng-attr-id='{{"honeydoo-" + $index}}')
                hr
                h5 {{list.status}}
                p.small Note: {{list.note}}
                p.small Due on: {{list.due}}


