div.edit-profile-container
  h3 Edit Profile
  hr
  div.edit-profile-navigation
    ul.nav.nav-tabs
      li.active
        a(href=".general", data-toggle="tab", aria-expanded="true") General Setting
      li
        a(href=".pic", data-toggle="tab", aria-expanded="true") Profile Pic
      li
        a(href=".disconnect", data-toggle="tab", aria-expanded="true") Disconnect
  div#editProfileContent.tab-content
    div.general.tab-pane.fade.active.in
      div.row
        div.col-lg-10.col-lg-offset-1
          div.edit-profile-form-container
            form.form-horizontal
              fieldset
                div.profile-edit-general-settings
                  div.col-lg-10.col-lg-offset-1
                    h5 General Settings
                  div.form-group
                    label.col-lg-2.control-label(for="firstName") First Name
                    div.col-lg-9
                      input#firstName.form-control(placeholder="First Name")
                  div.form-group
                    label.col-lg-2.control-label(for="firstName") Last Name
                    div.col-lg-9
                      input#lastName.form-control(placeholder="Last Name")
                  div.form-group
                    label.col-lg-2.control-label(for="userName") Username
                    div.col-lg-9
                      input#userName.form-control(placeholder="Username")
                  div.form-group
                    label.col-lg-2.control-label(for="gender") Gender
                    div.col-lg-9
                      input#gender.form-control(placeholder="Gender")
                div.profile-edit-password-change
                  h5 Change Password
                  div.form-group
                    label.col-lg-2.control-label(for="password") Password
                    div.col-lg-9
                      input#password.form-control(placeholder="Password")
                  div.form-group
                    label.col-lg-2.control-label(for="passwordConfirm") Confirm
                    div.col-lg-9
                      input#passwordConfirm.form-control(placeholder="Confirm Password")
                  div.form-group.text-right
                    div.col-lg-10.col-lg-offset-1
                      button.btn.btn-default(type="reset") Cancel
                      button.btn.btn-primary(type="submit") Submit Changes
    div.pic.tab-pane.fade
      div.row
        div.col-lg-10.col-lg-offset-1
          div.edit-profile-pic-container
            div.row.img-container
              div.col-lg-2
                  img.img-responsive(ng-src="{{user.password.profileImageURL}}")
              div.col-lg-10
                h5 Avatar managed by Gravatar
                button.btn.btn-primary(type="button") Change Image
            div.row.gravatar-info
              div.col-lg-12
                h4 What is Gravatar?
                p An "avatar" is an image that represents you online—a little picture that appears next to your name when you interact with websites.
                p A Gravatar is a Globally Recognized Avatar. You upload it and create your profile just once, and then when you participate in any Gravatar-enabled site your Gravatar image will automatically follow you there.
                p Gravatar is a free service for site owners, developers, and users. It is automatically included in every WordPress.com account and is run and supported by Automattic.
    div.disconnect.tab-pane.fade
      p.lead This is where you disconnect from you current partner

