.lists-container {
  h3 {
    display: inline-block;
    margin-bottom: 20px;
  }

  hr {
    border: 1px solid #ddd;
    margin: 0 0 20px 0;
    padding: 0;
  }

  .panel {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .lists-navigation {
    position: relative;
    top: 39px;
    float: right;
    display: inline-block;
  }

  .your-list-panel-container {
    .lead {
      margin-bottom: 0;
    }

    hr {
      margin: 16px 0;
    }

    .edit-todo-container {
      height: 51px;
      line-height: 51px;

      .icon {
        font-size: 30px;
        margin-left: 18px;
        cursor: pointer;
      }

      .ion-ios-trash-outline {
        color: lighten(red, 12%);
        transition: color .2s ease-in-out;

        &:hover {
          color: red;
        }
      }

      .ion-ios-compose-outline {
        color: $blue1;
        transition: color .2s ease-in-out;

        &:hover {
          color: darken($blue1, 12%);
        }
      }
    }

    .panel-footer {
      text-align: center;

      .pagination {
        margin: 10px 0 2px;
      }
    }

    img {
      width: 65px;
      height: 65px;
    }

    .requester-img-container {
      padding: 3px;
      border: 1px solid #ddd;
      width: 73px;
      margin-left: 20px;
    }

    .note {
      font-size: 14px;
    }
  }
}

@include mobile-nav-tabs {
  .lists-container {
    margin: auto;

    h3 {
      display: block;
      padding-bottom: 0;
      margin-bottom: 0;
      text-align: center;
    }

    hr {
      display: none;
    }
  }

  .lists-navigation {
    position: static !important;
    float: none !important;
    display: block !important;
    text-align: center;
    margin-bottom: 12px;

    ul.nav {
      display: inline-block;

      li {
        display: inline;

        a {
          float: left;
        }
      }
    }
  }
}